*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #006970;
  height: 100vh;
  width: 100%; }
