*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 66.6%; }
  @media screen and (max-width: 375px) {
    html {
      font-size: 50%; } }

body {
  width: 100%;
  height: 100vh;
  color: rgba(255, 255, 255, 0.75);
  background-color: #f2f2f2;
  font-family: "Big Shoulders Display", cursive; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.col {
  margin: 10rem 0;
  width: 70%;
  border-radius: 1rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  .col__icon {
    padding-bottom: 4rem; }
  .col__heading {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #f2f2f2; }
  .col__text {
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: "Lexend Deca", sans-serif;
    margin-top: 2rem;
    width: 100%;
    line-height: 2.5rem;
    color: rgba(255, 255, 255, 0.75); }
  .col--1 {
    padding: 5rem;
    background-color: #e38826; }
  .col--2 {
    padding: 5rem;
    background-color: #006970; }
  .col--3 {
    padding: 5rem;
    background-color: #004241; }

.btn {
  border: none;
  padding: 1.5rem 4rem;
  border-radius: 50px;
  margin-top: 7rem;
  border: 3px solid transparent;
  background-color: #f2f2f2;
  font-size: 1.6rem;
  display: inline-block;
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
  transition: all 0.2s; }
  .btn:hover {
    border: 3px solid #f2f2f2;
    background-color: transparent;
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer; }
  @media screen and (max-width: 375px) {
    .btn {
      margin-top: 3rem; } }

.orange {
  font-weight: 500;
  color: #e38826; }

.cyan {
  font-weight: 500;
  color: #006970; }

.dark-cyan {
  font-weight: 500;
  color: #004241; }

.attribution {
  display: block;
  color: #004241;
  font-size: 1.2rem;
  padding: 2rem 0; }
  .attribution a {
    color: #e38826;
    transition: all 0.2s; }
    .attribution a:hover {
      color: #006970; }
