// Primary colors
$color-orange: hsl(31, 77%, 52%); // Bright orange
$color-cyan: hsl(184, 100%, 22%); // Dark cyan
$color-dark-cyan: hsl(179, 100%, 13%); // Very dark cyan

// Neutral colors
// Transparent white (paragraphs)
$color-white: hsla(0, 0%, 100%, 0.75);

// Very light gray (background, headings, buttons)
$color-light-gray: hsl(0, 0%, 95%);

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 66.6%; // 100% / 15px = 6.66%

  @media screen and (max-width: 375px) {
    & {
      font-size: 50%; // 100% / 20px = 50%
    }
  }
}

body {
  width: 100%;
  height: 100vh;
  color: $color-white;
  background-color: $color-light-gray;
  font-family: "Big Shoulders Display", cursive;
}

.container {
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col {
  margin: 10rem 0;
  width: 70%;
  border-radius: 1rem;
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  &__icon {
    padding-bottom: 4rem;
  }

  &__heading {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: $color-light-gray;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: "Lexend Deca", sans-serif;
    margin-top: 2rem;
    width: 100%;
    line-height: 2.5rem;
    color: $color-white;
  }

  &--1 {
    // border-top-left-radius: 1rem;
    // border-bottom-left-radius: 1rem;
    padding: 5rem;
    background-color: $color-orange;
  }

  &--2 {
    padding: 5rem;
    background-color: $color-cyan;
  }

  &--3 {
    // border-top-right-radius: 1rem;
    // border-bottom-right-radius: 1rem;
    padding: 5rem;
    background-color: $color-dark-cyan;
  }
}

.btn {
  border: none;
  padding: 1.5rem 4rem;
  border-radius: 50px;
  margin-top: 7rem;
  border: 3px solid transparent;
  background-color: $color-light-gray;
  font-size: 1.6rem;
  display: inline-block;
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    border: 3px solid $color-light-gray;
    background-color: transparent;
    color: $color-light-gray;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 375px) {
    & {
      margin-top: 3rem;
    }
  }
}

.orange {
  font-weight: 500;
  color: $color-orange;
}

.cyan {
  font-weight: 500;
  color: $color-cyan;
}

.dark-cyan {
  font-weight: 500;
  color: $color-dark-cyan;
}

.attribution {
  display: block;
  color: $color-dark-cyan;
  font-size: 1.2rem;
  padding: 2rem 0;

  & a {
    color: $color-orange;
    transition: all 0.2s;

    &:hover {
      color: $color-cyan;
    }
  }
}
